<section class="mb-3">

    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>


    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fa fa-twitter"></i></a>


    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fa fa-google"></i></a>


    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fa fa-instagram"></i></a>


    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fa fa-linkedin"></i></a>

    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fa fa-github"></i></a>
</section>

<section class="">
    <form method="post">

        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
                <p class="pt-2">
                    <strong>Bültenimize kaydolun</strong>
                </p>
            </div>
            <!--Grid column-->
            <!--Grid column-->

            <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-3">
                    <input id="subscribeMail" type="email" class="form-control" name="Mail" placeholder="Mail Adresinizi Girin." />
                </div>
            </div>

            <!--Grid column-->
            <!--Grid column-->
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-light mb-3" name="subscribe">Abone Ol</button>
                <!-- Submit button -->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <!--Grid row-->
    </form>
</section>

