<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!--<!-- Grid container -->
    <div class="container p-3">
        @Html.Action("AddMail", "SubscribeMail")
    </div>
   
    <!-- Grid container
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
        © @DateTime.Now.Year Tüm Hakları Saklıdır: Başarsoft Haber
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
